.prb-invalid-message {
  display: block;
  color: var(--p-red-700);
  position: fixed;
  width: max-content;
  left: 114px;
  z-index: 10;
  font-size: 0.8em;
  border-radius: 5px;
  line-height: 1;
  border: 3px solid var(--p-red-100);
  background-color: var(--p-surface-0);

  .prb-invalid-title {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
  }

  .prb-invalid-description {
    ul {
      li {
        list-style-type: none;
        font-size: 0.8em;
        padding: 5px;
      }
    }
  }
}
