<div class="prb-options-container">
  <div class="prb-show-option-container">
    <div class="prb-prompt-container">
      <p-checkbox inputId="multiple" [(ngModel)]="multiple" [binary]="true"/>
      <label for="multiple"> Select Multiple</label>
    </div>
<!--    <div class="prb-prompt-container">-->
<!--      <p-checkbox inputId="disable-one" [(ngModel)]="disableOne" [binary]="true"/>-->
<!--      <label for="disable-one"> Disable Panel One</label>-->
<!--    </div>-->
  </div>
<!--  <div class="prb-show-option-container">-->
<!--    <div class="prb-prompt-container">-->
<!--      <p-checkbox inputId="disable-two" [(ngModel)]="disableTwo" [binary]="true"/>-->
<!--      <label for="disable-two"> Disable Panel Two</label>-->
<!--    </div>-->
<!--    <div class="prb-prompt-container">-->
<!--      <p-checkbox inputId="disable-three" [(ngModel)]="disableThree" [binary]="true"/>-->
<!--      <label for="disable-three"> Disable Panel Three</label>-->
<!--    </div>-->
<!--  </div>-->
</div>
