<div class="prb-button-container">
  Toggle switch to change the raised state of the buttons.
  <p-toggle-switch [(ngModel)]="raised"></p-toggle-switch>
</div>
<div class="prb-button-container">
  <p-button label="Primary" [raised]="raised" size="small"></p-button>
  Primary button should only occur once on a page. It is the primary call-to-action on the page.
</div>
<div class="prb-button-container">
  <p-button label="Secondary" severity="secondary" [raised]="raised" size="small"></p-button>
  Secondary button can occur multiple times on a page.
</div>
<div class="prb-button-container">
  <p-button label="Tertiary" [link]="true" [raised]="raised" size="small"></p-button>
  Tertiary button should only be used for settings or actions.
</div>
<div class="prb-button-container">
  <p-button label="Danger" severity="danger" icon="pi pi-shield" [raised]="raised" badge="3" size="small"></p-button>
</div>
<div class="prb-button-container">
  <p-button label="Success" severity="success" icon="pi pi-check" [raised]="raised" size="small"></p-button>
</div>
<div class="prb-button-container">
  <p-button label="Information" severity="info" icon="pi pi-info-circle" [raised]="raised" badge="2" size="small"></p-button>
</div>
<div class="prb-button-container">
  <p-button label="Warning" severity="warn" icon="pi pi-exclamation-triangle" [raised]="raised" size="small"></p-button>
</div>
<div class="prb-button-container">
  <p-button label="Contrast" severity="contrast" [raised]="raised" badge="1" size="small"></p-button>
</div>
<div class="prb-button-container">
  <p-button label="Plain" [raised]="raised" size="small"></p-button>
</div>
