.prb-button-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.prb-button-group {
  display: grid;
  grid-template-columns: 13em 13em 4em;
  grid-template-areas:
    "large small control"
    "comment comment comment";
  margin-bottom: 0.5em;
  border-radius: var(--prb-button-demo-border-radius);
  border: 1px solid var(--prb-card-color-border);
  box-shadow: 0 0 8px 8px rgba(0,0,0,0.2);
  max-width: fit-content;
  background-color: var(--prb-card-color-background);

  .prb-button-container {
    font-size: 1em;
    margin-bottom: 3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    &.prb-button-small,
    &.prb-button-large {
      padding: 1em;
    }

    &.prb-button-small {
      grid-area: small;
    }

    &.prb-button-large {
      grid-area: large;
    }

    &.prb-button-control {
      grid-area: control;
      font-size: 20pt;
      padding: 0.2em;
    }
  }

  .prb-button-comment {
    padding: 10px;
    grid-area: comment;
    border-radius: 0 0 var(--prb-button-demo-border-radius) var(--prb-button-demo-border-radius);
    background-color: var(--prb-comment-color-background);
    color: var(--prb-comment-text-color);
  }
}
