<div class="prb-button-container">
  Toggle switch to change the raised state of the buttons.
  <p-toggle-switch [(ngModel)]="raised"></p-toggle-switch>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Primary" [raised]="raised" size="small"/>
  Primary button should only occur once on a page. It is the primary call-to-action on the page.
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Secondary" severity="secondary" [raised]="raised" size="small"/>
  Secondary button can occur multiple times on a page.
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Tertiary" [link]="true" [raised]="raised" size="small"/>
  Tertiary button should only be used for settings or actions.
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Danger" severity="danger" icon="pi pi-shield" [raised]="raised" badge="3" size="small"/>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Success" severity="success" icon="pi pi-check" [raised]="raised" size="small"/>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Information" severity="info" icon="pi pi-info-circle" [raised]="raised" badge="2" size="small"/>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Warning" severity="warn" icon="pi pi-exclamation-triangle" [raised]="raised" size="small"/>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Contrast" severity="contrast" [raised]="raised" badge="1" size="small"/>
</div>
<div class="prb-button-container">
  <p-button pButtonLabel="Plain" [raised]="raised" size="small"/>
</div>
