.input-group {
  position: relative;
  top: 20px;
  left: 20px;
  font-family: "Comic Sans MS", serif;
  margin-bottom: 10px;
  font-size: 1em;
  width: fit-content;

  .input-label {
    display: block;
    font-weight: bold;
    font-size: inherit;
  }

  input {
    width: 20rem;
    font-size: inherit;

    &.ng-invalid {
      background-color: var(--p-surface-0);
    }
  }
}
