<prb-timeline-options
  [alignmentItems]="alignmentItems()"
  [(selectedAlignmentItem)]="selectedAlignmentItem"
  [(showMinimal)]="showMinimal"
  [(showAddIcon)]="showAddIcon"
  [(showAddDateTime)]="showAddDateTime"
  [(showCardWithDetails)]="showCardWithDetails">
</prb-timeline-options>

<div class="prb-vertical-timeline-group">
  @if (showMinimal()) {
    <div class="prb-vertical-timeline-item">
      <h2>Show Minimal</h2>
      <div class="prb-vertical-timeline-content">
        <p-timeline [value]="timelineItems()" align="{{selectedAlignmentItem()}}">
          <ng-template #content let-event>
            {{ event.status }}
          </ng-template>
        </p-timeline>
      </div>
    </div>
  }
  @if (showAddIcon()) {
    <div class="prb-vertical-timeline-item">
      <h2>Show Icon</h2>
      <div class="prb-vertical-timeline-content">
        <p-timeline [value]="timelineItems()" align="{{selectedAlignmentItem()}}">
          <ng-template #content let-event>
            <div class="prb-tl-marker"
                 [class.prb-tl-initiate]="event.status === 'Initiate Transmission'"
                 [class.prb-tl-transmitting]="event.status === 'Transmitting Packets'"
                 [class.prb-tl-checksum]="event.status === 'Verify Checksum'"
                 [class.prb-tl-complete]="event.status === 'End Transmission'"
                 [class.prb-tl-warning]="event.status === 'Warning'"
                 [class.prb-tl-error]="event.status === 'Error'"
                 [class.prb-tl-unknown]="event.status === 'Unknown'">
              <i class="{{getIcon(event)}}"></i>
            </div>
          </ng-template>
          <ng-template #opposite let-event>
            {{ event.status }}
          </ng-template>
        </p-timeline>
      </div>
    </div>
  }
  @if (showAddDateTime()) {
    <div class="prb-vertical-timeline-item">
      <h2>Show Date/Time</h2>
      <div class="prb-vertical-timeline-content">
        <p-timeline [value]="timelineItems()" align="{{selectedAlignmentItem()}}">
          <ng-template #content let-event>
            <div class="prb-tl-marker"
                 [class.prb-tl-initiate]="event.status === 'Initiate Transmission'"
                 [class.prb-tl-transmitting]="event.status === 'Transmitting Packets'"
                 [class.prb-tl-checksum]="event.status === 'Verify Checksum'"
                 [class.prb-tl-complete]="event.status === 'End Transmission'"
                 [class.prb-tl-warning]="event.status === 'Warning'"
                 [class.prb-tl-error]="event.status === 'Error'"
                 [class.prb-tl-unknown]="event.status === 'Unknown'">
              <i class="{{getIcon(event)}}"></i>
            </div>
          </ng-template>
          <ng-template #opposite let-event>
            {{ event.status }}
            <div class="prb-tl-date">
              {{ event.date | date:'longDate' }}
            </div>
            <div class="prb-tl-time">
              {{ event.date | date:'hh:mm:ss.SSS a' }}
            </div>
          </ng-template>
        </p-timeline>
      </div>
    </div>
  }
  @if (showCardWithDetails()) {
    <div class="prb-vertical-timeline-item">
      <h2>Show Card with Description</h2>
      <div class="prb-vertical-timeline-content">
        <p-timeline [value]="timelineItems()" align="{{selectedAlignmentItem()}}">
          <ng-template #content let-event>
            <div class="prb-tl-marker"
                 [class.prb-tl-initiate]="event.status === 'Initiate Transmission'"
                 [class.prb-tl-transmitting]="event.status === 'Transmitting Packets'"
                 [class.prb-tl-checksum]="event.status === 'Verify Checksum'"
                 [class.prb-tl-complete]="event.status === 'End Transmission'"
                 [class.prb-tl-warning]="event.status === 'Warning'"
                 [class.prb-tl-error]="event.status === 'Error'"
                 [class.prb-tl-unknown]="event.status === 'Unknown'">
              <i class="{{getIcon(event)}}"></i>
            </div>
          </ng-template>
          <ng-template #opposite let-event>
            <prb-card [eventItem]="event"/>
          </ng-template>
        </p-timeline>
      </div>
    </div>
  }
</div>

@if (isMode(prbModes.debug)) {
  <div class="prb-debug-container-group">
    <div class="prb-debug-output-container">
      <prb-debug-output-card
        [variableName]="'Alignment'"
        [flat]="true"
        [stringValue]="this.selectedAlignmentItem()"/>
      <prb-debug-output-card
        [variableName]="'Show Minimal'"
        [flat]="true"
        [booleanValue]="this.showMinimal()"/>
      <prb-debug-output-card
        [variableName]="'Show Icon'"
        [flat]="true"
        [booleanValue]="this.showAddIcon()"/>
      <prb-debug-output-card
        [variableName]="'Show Date/Time'"
        [flat]="true"
        [booleanValue]="this.showAddDateTime()"/>
      <prb-debug-output-card
        [variableName]="'Show Card with Details'"
        [flat]="true"
        [booleanValue]="this.showCardWithDetails()"/>
    </div>
    <div class="prb-debug-output-container prb-debug-output-fixed-50">
      <prb-debug-output-card
        [variableName]="'Input Data'"
        [flat]="true"
        [json]="this.timelineItems()"/>
    </div>
  </div>
}
