.prb-color-palettes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.prb-color-palette-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.prb-color-palette {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.prb-color-palette-swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.prb-color-palette-swatch:hover {
  border-color: #000;
}

.p-accordionheader {
  font-size: 1.8rem;
}
