.prb-form-group {
  display: grid;
  grid-template-areas:
        "label input"
        "feedback feedback";
  grid-template-columns: 98px 200px;
  margin-bottom: 1rem;

  .prb-form-group-label {
    grid-area: label;

    &.required::after {
      content: "*";
      color: var(--p-red-500);
    }
  }

  .prb-form-group-input {
    grid-area: input;
  }

  .prb-form-input {
    &.uppercase {
      text-transform: uppercase;
    }
  }

  .prb-validation-feedback {
    grid-area: feedback;
    background-color: var(--p-gray-300);
    color: red;
    font-size: 0.7rem;
    border: 1px solid red;
    border-radius: 5px;
    margin: 0.2em auto;
    padding: 0.2em;
    text-align: center;
    width: fit-content;
  }
}

label {
  text-align: right;
  padding-right: 1em;
  padding-top: 0.4em;
}

input.ng-touched {
  &.ng-invalid {
    border: 1px solid red;
  }

  &.ng-valid {
    border: 1px solid green;
  }
}
