<div class="prb-color-palette-panel">
  <div class="prb-color-palette">
    <div class="prb-color-palette-label">Primary</div>
    <div class="prb-color-palette-items">
      <button
        class="prb-color-palette-item prb-color-palette-emerald"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('emerald')}"
        (click)="setPrimaryColor('emerald')"
        [pTooltip]="'emerald'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-green"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('green')}"
        (click)="setPrimaryColor('green')"
        [pTooltip]="'green'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-lime"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('lime')}"
        (click)="setPrimaryColor('lime')"
        [pTooltip]="'lime'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-red"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('red')}"
        (click)="setPrimaryColor('red')"
        [pTooltip]="'red'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-brown"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('brown')}"
        (click)="setPrimaryColor('brown')"
        [pTooltip]="'orange'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-orange"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('orange')}"
        (click)="setPrimaryColor('orange')"
        [pTooltip]="'orange'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-amber"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('amber')}"
        (click)="setPrimaryColor('amber')"
        [pTooltip]="'amber'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-yellow"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('yellow')}"
        (click)="setPrimaryColor('yellow')"
        [pTooltip]="'yellow'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-teal"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('teal')}"
        (click)="setPrimaryColor('teal')"
        [pTooltip]="'teal'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-cyan"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('cyan')}"
        (click)="setPrimaryColor('cyan')"
        [pTooltip]="'cyan'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-sky"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('sky')}"
        (click)="setPrimaryColor('sky')"
        [pTooltip]="'sky'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-blue"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('blue')}"
        (click)="setPrimaryColor('blue')"
        [pTooltip]="'blue'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-indigo"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('indigo')}"
        (click)="setPrimaryColor('indigo')"
        [pTooltip]="'indigo'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-violet"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('violet')}"
        (click)="setPrimaryColor('violet')"
        [pTooltip]="'violet'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-purple"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('purple')}"
        (click)="setPrimaryColor('purple')"
        [pTooltip]="'purple'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-fuchsia"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('fuchsia')}"
        (click)="setPrimaryColor('fuchsia')"
        [pTooltip]="'fuchsia'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-pink"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('pink')}"
        (click)="setPrimaryColor('pink')"
        [pTooltip]="'pink'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
    </div>
  </div>

  <div class="prb-color-palette">
    <div class="prb-color-palette-label">Surface</div>
    <div class="prb-color-palette-items">
      <button
        class="prb-color-palette-item prb-color-palette-slate"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('slate')}"
        (click)="setSurfaceColor('slate')"
        [pTooltip]="'slate'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-gray"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('gray')}"
        (click)="setSurfaceColor('gray')"
        [pTooltip]="'gray'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-zinc"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('zinc')}"
        (click)="setSurfaceColor('zinc')"
        [pTooltip]="'zinc'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-neutral"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('neutral')}"
        (click)="setSurfaceColor('neutral')"
        [pTooltip]="'neutral'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-stone"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('stone')}"
        (click)="setSurfaceColor('stone')"
        [pTooltip]="'stone'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-soho"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('soho')}"
        (click)="setSurfaceColor('soho')"
        [pTooltip]="'soho'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-viva"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('viva')}"
        (click)="setSurfaceColor('viva')"
        [pTooltip]="'viva'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-ocean"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('ocean')}"
        (click)="setSurfaceColor('ocean')"
        [pTooltip]="'ocean'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
      <button
        class="prb-color-palette-item prb-color-palette-beach"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('beach')}"
        (click)="setSurfaceColor('beach')"
        [pTooltip]="'beach'"
        showDelay="1000"
        tooltipPosition="bottom"></button>
    </div>
  </div>
</div>
