<div class="prb-stepper-two">
  <h4>Step two is a separate component</h4>
  lorum ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
  amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
</div>
