<div class="prb-stepper-four">
  <h4>Step four is a separate component</h4>
  lorum ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
  amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet
  lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor
  sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor
  ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
  amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
</div>
