<div class="prb-tl-card">
  <p-card>
    <ng-template #content>
      <prb-card-header [status]="eventItem().status"/>
      <div class="prb-card-contents">
        <div>
          <div class="prb-tl-description">{{ eventItem().description }}</div>
        </div>
        <div class="prb-tl-date">
          {{ eventItem().date | date:'longDate' }}
        </div>
        <div class="prb-tl-time">
          {{ eventItem().date | date:'hh:mm:ss.SSS a' }}
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
