<div class="prb-palette-generator-container">
  <div class="prb-input-group">
    <label for="color-palette-input">Color Name: <span class="prb-color-name">{{ colorName() }}</span></label>
    <input type="color" [(ngModel)]="baseColor"/>
    <input
      type="text"
      pInputText
      [(ngModel)]="baseColor"
      id="color-palette-input"
      name="color"
      maxlength="7"
      placeholder="Enter a color code"/>
  </div>

  <p-table [value]="shades" [dt]="tableData">
    <ng-template #header>
      <tr>
        <th>Shade</th>
        <th>Swatch</th>
        <th>Hex Value</th>
      </tr>
    </ng-template>
    <ng-template #body let-shade>
      <tr>
        <td class="prb-center-cell">{{ shade }}</td>
        <td [style.background-color]="colorValues[shade]"></td>
        <td class="prb-center-cell">{{ colorValues[shade].toUpperCase() }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
