<div class="color-palettes-list">
  <app-palette-generator [colorName]="'Primary'" [baseColor]="primaryColor"/>
  <app-palette-generator [colorName]="'Emerald'" [baseColor]="emeraldColor"/>
  <app-palette-generator [colorName]="'Green'" [baseColor]="greenColor"/>
  <app-palette-generator [colorName]="'Lime'" [baseColor]="limeColor"/>
  <app-palette-generator [colorName]="'Red'" [baseColor]="redColor"/>
  <app-palette-generator [colorName]="'Orange'" [baseColor]="orangeColor"/>
  <app-palette-generator [colorName]="'Amber'" [baseColor]="amberColor"/>
  <app-palette-generator [colorName]="'Yellow'" [baseColor]="yellowColor"/>
  <app-palette-generator [colorName]="'Teal'" [baseColor]="tealColor"/>
  <app-palette-generator [colorName]="'Cyan'" [baseColor]="cyanColor"/>
  <app-palette-generator [colorName]="'Sky'" [baseColor]="skyColor"/>
  <app-palette-generator [colorName]="'Blue'" [baseColor]="blueColor"/>
  <app-palette-generator [colorName]="'Indigo'" [baseColor]="indigoColor"/>
  <app-palette-generator [colorName]="'Violet'" [baseColor]="violetColor"/>
  <app-palette-generator [colorName]="'Purple'" [baseColor]="purpleColor"/>
  <app-palette-generator [colorName]="'Fuchsia'" [baseColor]="fuchsiaColor"/>
  <app-palette-generator [colorName]="'Pink'" [baseColor]="pinkColor"/>
  <app-palette-generator [colorName]="'Slate'" [baseColor]="slateColor"/>
  <app-palette-generator [colorName]="'Gray'" [baseColor]="grayColor"/>
  <app-palette-generator [colorName]="'Zinc'" [baseColor]="zincColor"/>
  <app-palette-generator [colorName]="'Neutral'" [baseColor]="neutralColor"/>
  <app-palette-generator [colorName]="'Stone'" [baseColor]="stoneColor"/>
</div>
