<div class="input-container">
  <div class="input-group">
    <label for="pattern">Regex Pattern:</label>
    <input id="pattern"
           type="text"
           [(ngModel)]="pattern"
           [ngClass]="{invalid:isRegExInvalid}"
    />
  </div>

  <div class="input-group">
    <label for="test-data">Test Data:</label>
    <input id="test-data"
           type="text"
           [(ngModel)]="testData"
    />
  </div>
</div>

<div class="results-container">
  <div class="result">
    <div class="label">Match found:</div>
    <div> {{ isMatchFound() }}</div>
  </div>
  <div class="result">
    <div class="label">Regex Expression:</div>
    <div> {{ testRegExp }}</div>
  </div>
  <div class="result">
    <div class="label">Has Indices:</div>
    <div> {{ hasIndices() }}</div>
  </div>
  <div class="result">

</div>
