.prb-roadblock-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--prb-footer-background-color);
  padding: 10px 20px;

  .prb-roadblock-footer-text {
    font-size: 1em;
    color: var(--prb-footer-text-color);
  }
}
