@forward "page-not-found/color";

:root {
  --prb-page-not-found-width: 50%;
  --prb-page-not-found-min-width: 400px;
  --prb-page-not-found-margin: 40px auto;
  --prb-page-not-found-padding: 30px 0;
  --prb-page-not-found-border-radius: 10px;
  --prb-page-not-found-font-size: 1.2rem;
  --prb-page-not-found-shadow: var(--p-orange-300) 0 0 10px, var(--p-red-400) 0 0 10px;

  &[class*="prb-dark-theme"] {
    --prb-page-not-found-shadow: var(--p-orange-400) 0 0 10px, var(--p-red-500) 0 0 10px;
  }
}
