<div class="options-container">
  <div class="prompt-container">
    <p-dropdown
      [options]="alignmentItems()"
      [(ngModel)]="selectedAlignmentItem"/>
  </div>

  <div class="show-option-container">
    <div class="prompt-container">
      <p-checkbox id="minimal" [(ngModel)]="showMinimal" [binary]="true"/>
      <label for="minimal"> Show Minimal</label>
    </div>

    <div class="prompt-container">
      <p-checkbox id="addIcon" [(ngModel)]="showAddIcon" [binary]="true"/>
      <label for="addIcon"> Show Icon</label>
    </div>
  </div>

  <div class="show-option-container">
    <div class="prompt-container">
      <p-checkbox id="addDateTime" [(ngModel)]="showAddDateTime" [binary]="true"/>
      <label for="addDateTime"> Show Date Time</label>
    </div>

    <div class="prompt-container">
      <p-checkbox id="addCardWithDetails" [(ngModel)]="showCardWithDetails" [binary]="true"/>
      <label for="addCardWithDetails"> Show Card with Details</label>
    </div>
  </div>
</div>
