.prb-css-rule {
  font-family: "Book Antiqua", serif;
  font-size: 0.7rem;
  color: var(--p-orange-200);
  line-height: 1.125rem;

  &-selector {
    color: var(--prb-color-css-identifier);
  }

  &-open,
  &-close {
    color: var(--prb-color-css-parenthesis);
  }

  &-comma {
    color: var(--prb-color-css-comma);
  }

  &-semicolon {
    color: var(--prb-color-css-semicolon);
  }
}
