<div class="prb-accordion-examples">
  <div class="prb-accordion-example-container">
    <prb-accordion-options
      [(multiple)]="multiple">
    </prb-accordion-options>

    <h1>
      Fixed Accordion Example
    </h1>

    <prb-static-accordion [multiple]="multiple()"/>
  </div>

  <div class="prb-accordion-example-container">
    <h1>
      Data Driven Accordion Example
    </h1>

    <div class="prb-card prb-flex prb-justify-center">
      <p-accordion [value]="['0']" [multiple]="multiple()">
        @for (panel of panels; track panel.job.name) {
          <p-accordion-panel [value]="panel.id" [disabled]="panel.disabled">
            <p-accordion-header>
              <prb-job-header [job]="panel.job" (removed)="removeJob(panel.id)"/>
            </p-accordion-header>
            <p-accordion-content>
              <prb-job-status [job]="panel.job"/>
              <prb-job-date [dateType]="'Start'" [date]="panel.job.start"/>
              <prb-job-date [dateType]="'End'" [date]="panel.job.end"/>
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    </div>
  </div>
</div>
