<div class="prb-stepper-one">
  <h4>Step one is a separate component</h4>
  lorum ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
  amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum
  dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit amet lor ipsum dolor sit
</div>
