@mixin tl-group-header() {
  margin-top: -1.25em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--prb-timeline-group-header-background-color);
  padding: 2px 5px;
  width: fit-content;
  color: var(--prb-timeline-group-header-text-color);
  border-radius: 5px;
}

@mixin tl-group-body() {
  padding: 10px;
  border: 1px solid var(--prb-timeline-group-border-color);
  border-radius: 5px;
}

.prb-tl-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--p-timeline-event-marker-border-radius);
  width: 20px;
  height: 20px;
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.06), 0 5px 5px 0 rgba(0, 0, 0, 0.12);

  i {
    scale: 75%;
  }
}

.prb-card-top {
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.prb-tl-initiate {
  background-color: var(--prb-timeline-background-color-initiate);
  color: var(--prb-timeline-color-initiate);
}

.prb-tl-transmitting {
  background-color: var(--prb-timeline-background-color-transmitting);
  color: var(--prb-timeline-color-transmitting);
}

.prb-tl-checksum {
  background-color: var(--prb-timeline-background-color-checksum);
  color: var(--prb-timeline-color-checksum);
}

.prb-tl-complete {
  background-color: var(--prb-timeline-background-color-final);
  color: var(--prb-timeline-color-final);
}

.prb-tl-warning {
  background-color: var(--prb-timeline-background-color-warning);
  color: var(--prb-timeline-color-warning);
}

.prb-tl-error {
  background-color: var(--prb-timeline-background-color-error);
  color: var(--prb-timeline-color-error);
}

.prb-tl-unknown {
  background-color: var(--prb-timeline-background-color-unknown);
  color: var(--prb-timeline-color-unknown);
}

.prb-card-contents {
  padding: var(--p-card-body-padding);
}

.prb-tl-description {
  font-size: 0.8em;
  width: 170px;
  margin-bottom: 0.5em;
}

.prb-tl-date {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0.2em;
  min-width: 150px;
}

.prb-tl-time {
  font-size: 0.7em;
}
