@forward "debug/color";

:root {
  --prb-debug-border-radius: 10px;
  --prb-debug-header-padding: 0.4em;
  --prb-debug-variable-padding: 0.1em 1em;
  --prb-debug-content-padding: 0 1em;
  --prb-debug-line-height: 1.3em;
  --prb-debug-letter-spacing: 0.09em;
  --prb-debug-box-shadow: var(--p-yellow-100) 0 0 10px, var(--p-orange-300) 0 0 10px, var(--p-red-400) 0 0 10px;

  &[class*="prb-dark-theme"] {
    --prb-debug-box-shadow: var(--p-yellow-200) 0 0 10px, var(--p-orange-400) 0 0 10px, var(--p-red-500) 0 0 10px;
  }
}

.prb-debug-container-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;

  .prb-debug-output-container {
    //width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    //align-items: flex-end;
    //gap: 10px;

    prb-debug-output-card {
      //width: 100%;
      //display: block;
    }
  }

  .prb-debug-output-top {
    position: absolute;
    top: 100px;
    right: 0;
  }

  .prb-debug-output-fixed-50 {
    max-height: 50vh;
    overflow-y: auto;
  }
}
