.prb-stepper-container {
  max-width: var(--prb-stepper-container-max-width);
  margin: var(--prb-stepper-container-margin);

  .prb-stepper-content {
    width: var(--prb-stepper-content-width);
    min-height: var(--prb-stepper-content-min-height);
    font-size: var(--prb-stepper-content-text-font-size);
    color: var(--prb-stepper-content-text-color);
    border: var(--prb-stepper-content-border);
    background-color: var(--prb-stepper-content-background-color);
    border-radius: var(--prb-stepper-content-border-radius);
    padding: var(--prb-stepper-content-padding);
    margin: var(--prb-stepper-content-margin);

    .prb-stepper-label {
      position: relative;
      top: var(--prb-stepper-label-top);
      width: fit-content;
      padding: var(--prb-stepper-label-padding);
      border-radius: var(--prb-stepper-label-border-radius);
      border: var(--prb-stepper-label-border);
      outline: var(--prb-stepper-label-outline);
      background-color: var(--prb-stepper-label-background-color);
      color: var(--prb-stepper-label-text-color);
      font-size: var(--prb-stepper-label-font-size);
      font-weight: var(--prb-stepper-label-font-weight);
      letter-spacing: var(--prb-stepper-label-letter-spacing);
    }

    p {
      margin: 0;
    }
  }

  .prb-button-container {
    display: flex;
    justify-content: space-between;

    .prb-previous-button {
    }

    .prb-next-button {
    }
  }
}
