<div class="prb-options-container prb-options-center">
  <div class="prb-options-label">
    <span class="prb-options-label-text">Toggle switch to change the inline mode:</span>
    <p-toggle-switch [(ngModel)]="inline" [name]="'in-line-mode-selector'"></p-toggle-switch>
    @if (inline()) {
      <span class="prb-options-inline-mode">(Inline)</span>
    } @else {
      <span class="prb-options-inline-mode">(Injected)</span>
    }
  </div>
</div>

<div class="prb-stepper-container">
  <p-stepper [value]="1">
    <p-step-list>
      <p-step [value]="1">Initial</p-step>
      <p-step [value]="2">Gather Information</p-step>
      <p-step [value]="3">Enter Information</p-step>
      <p-step [value]="4">Submit</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div>
            <div class="prb-stepper-content">
              <div class="prb-stepper-label-tag">Step 1</div>
              @if (!inline()) {
                <prb-stepper-one/>
              } @else {
                <div>Step one is in-line with the rest of the content.</div>
                <br/>
                <p>lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                  dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
              }
            </div>
            <div class="prb-button-container">
              <div class="prb-previous-button">
              </div>
              <div class="prb-next-button">
                <p-button label="Next" (click)="activateCallback(2)"/>
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div>
            <div class="prb-stepper-content">
              <div class="prb-stepper-label-tag">Step 2</div>
              @if (!inline()) {
                <prb-stepper-two/>
              } @else {
                <div>Step two is in-line with the rest of the content.</div>
                <br/>
                <p>lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                  dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
              }
            </div>
            <div class="prb-button-container">
              <div class="prb-previous-button">
                <p-button label="Previous" (click)="activateCallback(1)"/>
              </div>
              <div class="prb-next-button">
                <p-button label="Next" (click)="activateCallback(3)"/>
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div>
            <div class="prb-stepper-content">
              <div class="prb-stepper-label-tag">Step 3</div>
              @if (!inline()) {
                <prb-stepper-three/>
              } @else {
                <div>Step three is in-line with the rest of the content.</div>
                <br/>
                <p>lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                  dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
              }
            </div>
            <div class="prb-button-container">
              <div class="prb-previous-button">
                <p-button label="Previous" (click)="activateCallback(2)"/>
              </div>
              <div class="prb-next-button">
                <p-button label="Next" (click)="activateCallback(4)"/>
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <div>
            <div class="prb-stepper-content">
              <h3 class="prb-stepper-label-tag">Step 4</h3>
              @if (!inline()) {
                <prb-stepper-four/>
              } @else {
                <div>Step four is in-line with the rest of the content.</div>
                <br/>
                <p>lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
                  Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
                  sed, dolor lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec,
                  ultricies sed, dolor.</p>
              }
            </div>
            <div class="prb-button-container">
              <div class="prb-previous-button">
                <p-button label="Previous" (click)="activateCallback(3)"/>
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>

@if (isMode(prbModes.debug)) {
  <div class="prb-filter-debug-output-container">
    <prb-debug-output-card
      [variableName]="'inline'"
      [flat]="true"
      [booleanValue]="inline()"/>
  </div>
}
