<br/>
<div class="prb-css-rule">
  @for (selector of selectors(); track selector; let i = $index) {
    <div class="prb-css-rule-selector">
      {{ getIndentation() }}<prb-css-selector [selector]="selector"/>
      @if (i < selectors().length - 1) {
        <span class="prb-css-rule-comma">,</span>
      }
      @if (i === selectors().length - 1) {
        <span class="prb-css-rule-open">&nbsp;&#123;</span>
      }
    </div>
  }
  @for (prop of properties(); track prop) {
    <div>
      {{ getIndentation(1) }}<prb-css-property-name [property]="prop.property"/>
      @if (prop.value) {
        <prb-css-property-value [value]="prop.value"/>
      }
      @else if (prop.values) {
        <prb-css-property-value-array [level]="level()" [values]="prop.values"/>
      }
      <span class="prb-css-rule-semicolon">;</span>
    </div>
  }
  <ng-content select="prb-css-rule"></ng-content>
  <div class="prb-css-rule-close">{{ getIndentation() }}&#125;</div>
</div>
