<p-message severity="info" icon="pi pi-info-circle" size="small">This is an info message.</p-message>
<p-message severity="success" icon="pi pi-check" size="small">This is a success message.</p-message>
<p-message severity="warn" icon="pi pi-exclamation-triangle" size="small">This is a warning message.</p-message>
<p-message severity="error" icon="pi pi-times-circle" size="small">This is an error message.</p-message>
<p-message severity="secondary" size="small">This is a secondary message.</p-message>
<p-message severity="contrast" size="small">This is a contrast message.</p-message>
