:root {
  --prb-comment-color-background: var(--p-surface-600);
  --prb-comment-text-color: var(--p-surface-50);

  &[class*="prb-dark-theme"] {
    --prb-comment-color-background: var(--p-surface-400);
    --prb-comment-text-color: var(--p-surface-50);
  }
}
