:root {
  --prb-footer-background-color: var(--p-surface-300);
  --prb-footer-text-color: var(--p-text-color);

  &[class*="prb-dark-theme"] {
    --prb-footer-background-color: var(--p-surface-700);
    --prb-footer-text-color: var(--p-text-color-inverse);
  }
}
