:root {
  --prb-title-color: var(--p-red-600);
  --prb-header-background-color: var(--p-surface-200);
  --prb-header-drop-shadow-color: var(--p-slate-400);
  --prb-header-text-drop-shadow-color: var(--p-red-700);
  --prb-header-logo-shadow-color-100: var(--p-red-700);
  --prb-header-logo-shadow-color-50: var(--p-red-800);
  --prb-header-banner-padding: 5px 10px;
  --prb-header-banner-height: 65px;
  --prb-header-logo-height: 2.3rem;
  --prb-header-logo-width: 2.3rem;
  --prb-header-logo-margin: 0 10px;
  --prb-header-letter-spacing: 0.1rem;

  &[class*="prb-dark-theme"] {
    --prb-title-color: var(--p-red-700);
    --prb-header-background-color: var(--p-surface-400);
    --prb-header-text-drop-shadow-color: var(--p-red-400);
    --prb-header-logo-shadow-color-100: var(--p-red-500);
    --prb-header-logo-shadow-color-50: var(--p-red-100);
  }
}

@layer primeng {
  .p-megamenu-root-list {
    .p-megamenu-item-content {
      padding: 5px;
    }
  }

  .p-megamenu-submenu {
    .p-megamenu-submenu-label {
      border-radius: 5px;
    }

    .p-megamenu-item {
      .p-megamenu-item-content {
        :hover {
          padding: 3px;
        }

        > a {
          text-decoration: none;
        }
      }
    }
  }

  .p-megamenu-overlay {
    z-index: 10000 !important;
  }
}
