:root {
  --prb-option-color-background: var(--p-surface-500);
  --prb-option-color-border: #333333;

  &[class*="prb-dark-theme"] {
    --prb-option-color-background: var(--p-surface-400);
    --prb-option-color-border: #a5a5a5;
  }
}

.prb-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
  min-height: 3em;
  width: fit-content;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--prb-option-color-background);
  border: 2px solid var(--prb-option-color-border);

  &.prb-options-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.prb-options-column {
    flex-direction: column;
  }

  .prb-prompt-container {
    padding: 5px 0;
  }

  .prb-options-label {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--prb-options-label-color);

    .prb-options-label-text {
      margin-right: 0.5em;
    }

    .prb-options-inline-mode {
      margin-left: 0.5em;
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
