:root {
  --prb-stepper-container-max-width: 800px;
  --prb-stepper-container-margin: 0 auto;

  --prb-stepper-content-background-color: var(--p-surface-200);
  --prb-stepper-content-border-color: var(--p-surface-700);
  --prb-stepper-content-text-color: var(--p-surface-800);
  --prb-stepper-content-border: 1px solid var(--prb-stepper-content-border-color);
  --pbr-stepper-content-width: 100%;
  --prb-stepper-content-min-height: 200px;
  --prb-stepper-content-border-radius: 10px;
  --prb-stepper-content-padding: 20px;
  --prb-stepper-content-margin: 30px 0 20px 0;
  --prb-stepper-content-text-font-size: 10pt;

  --prb-stepper-label-background-color: var(--p-surface-100);
  --prb-stepper-label-top: -35px;
  --prb-stepper-label-padding: 3px 8px;
  --prb-stepper-label-border-radius: 10px;
  --prb-stepper-label-border: 1px solid var(--prb-stepper-content-border-color);
  --prb-stepper-label-outline: 2px solid var(--prb-stepper-content-border-color);

  --prb-stepper-label-text-color: var(--p-primary-500);
  --prb-stepper-label-font-size: 18px;
  --prb-stepper-label-font-weight: 700;
  --prb-stepper-label-margin: 0 0 10px 0;
  --prb-stepper-label-letter-spacing: 0.05em;

  &[class*="prb-dark-theme"] {
    --prb-stepper-content-border-color: var(--p-surface-400);
    --prb-stepper-content-background-color: var(--p-surface-700);
    --prb-stepper-content-text-color: var(--p-surface-100);

    --prb-stepper-label-background-color: var(--p-surface-700);
  }
}

// This is how to override the default stepper styles in PrimeNG
@layer primeng {
  .p-step-header {
    flex-direction: column;
  }
}
