.prb-information {
  padding: 10px;
  background-color: var(--color-information-background-color);
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--color-information-box-shadow);
  margin-bottom: 10px;

  .prb-header {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .prb-description {
    font-size: 1em;
  }

  .prb-code-block {
    background-color: var(--color-code-background-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 400px;

    code {
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 0.7em;
      font-family: monospace;

      .prb-class-name {
        color: var(--color-css-class-name);
      }

      .prb-dot {
        color: var(--color-css-dot);
      }

      .prb-attribute-name {
        color: var(--color-css-attribute-name);
      }

      .prb-parenthesis {
        color: var(--color-css-parenthesis);
      }

      .prb-property-name {
        color: var(--color-css-property-name);
      }

      .prb-property-value {
        color: var(--color-css-property-value);
      }

      .prb-semicolon {
        color: var(--color-css-semicolon);
      }

      .prb-property-number {
        color: var(--color-css-number);
      }

      .prb-property-unit {
        color: var(--color-css-unit);
      }

      .prb-property-value-hex {
        color: var(--color-css-hex);
      }

      .prb-css-function {
        color: var(--color-css-function);
      }

      .prb-operation-sign {
        color: var(--color-css-operation-sign);
      }

      .prb-html-tag {
        color: var(--color-html-tag);
      }

      .prb-html-attribute-name {
        color: var(--color-html-attribute-name);
      }

      .prb-html-attribute-value {
        color: var(--color-html-attribute-value);
      }

      .prb-html-comment {
        color: var(--color-html-comment);
      }

      .prb-html-entity-reference {
        color: var(--color-html-entity-reference);
      }

      .prb-html-inner-text {
        color: var(--color-html-inner-text);
      }
    }
  }
}

.prb-lorem-ipsum {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.7em;
  margin-bottom: 10px;
}
