<div class="prb-information">
  <div class="code-block">
    <code>
    </code>
  </div>
  <div class="prb-header">This page demonstrates the scroll region</div>
  <div class="prb-description">
    Notice that the header is fixed at the top of the page and the footer is fixed at the bottom of the page, while
    the rest of the content scrolls. This is achieved by using grid-template-areas. The header is defined as "header"
    in the grid-template-areas property. The footer is defined as "footer", and the rest of the content is defined as
    "content". The grid-template-areas property is set to "header content" to define the layout.
  </div>
  <div class="prb-code-block">
    <code>
      <prb-html-tag
        [tag]="'div'"
        [attributes]="[
          {'name': 'class', 'value': 'prb-main-grid-container'}
        ]">
        <prb-html-tag
          [level]="1"
          [tag]="'div'"
          [attributes]="[{'name': 'class', 'value': 'prb-main-grid-header'}]"
          [content]="'Header'">
        </prb-html-tag>
        <prb-html-tag
          [level]="1"
          [tag]="'div'"
          [attributes]="[{'name': 'class', 'value': 'prb-main-grid-content'}]"
          [content]="'Content'">
        </prb-html-tag>
        <prb-html-tag
          [level]="1"
          [tag]="'div'"
          [attributes]="[{'name': 'class', 'value': 'prb-main-grid-footer'}]"
          [content]="'Footer'">
        </prb-html-tag>
      </prb-html-tag>
    </code>
  </div>
  <div class="prb-code-block">
    <code>
      <prb-css-rule
        [level]="0"
        [selectors]="['.prb-main-grid-container']"
        [properties]="[{'property': 'position', 'value': 'fixed'},
                  {'property': 'top', 'value': '0'},
                  {'property': 'left', 'value': '0'},
                  {'property': 'width', 'value': '100%'},
                  {'property': 'display', 'value': 'grid'},
                  {'property': 'grid-template-areas', 'values': ['header', 'content', 'footer']},
                  {'property': 'gap', 'value': '5px'}]">
        <prb-css-rule
          [level]="1"
          [selectors]="['.prb-main-grid-header']"
          [properties]="[{'property': 'grid-area', 'value': 'header'}]">
        </prb-css-rule>
        <prb-css-rule
          [level]="1"
          [selectors]="['.prb-main-grid-content']"
          [properties]="[{'property': 'grid-area', 'value': 'content'},
                  {'property': 'overflow-y', 'value': 'auto'},
                  {'property': 'padding', 'value': '10px'},
                  {'property': 'max-height', 'value': 'calc(100vh  -  113px)'},
                  {'property': 'height', 'value': '100vh'},
                  {'property': 'background-color', 'value': '#F5F5F5'}]">
        </prb-css-rule>
        <prb-css-rule
          [level]="1"
          [selectors]="['.prb-main-grid-footer']"
          [properties]="[{'property': 'grid-area', 'value': 'footer'}]">
        </prb-css-rule>
      </prb-css-rule>
    </code>
  </div>
</div>

<!-- display the cssCode -->
<!--<div class="css-code">-->
<!--  <div class="header">CSS Code</div>-->
<!--  <div class="code-block">-->
<!--    <code>-->
<!--      <ng-container *ngFor="let css of cssCode">-->
<!--        {{css}}<br/>-->
<!--      </ng-container>-->
<!--    </code>-->
<!--  </div>-->
<!--</div>-->


<div class="prb-lorem-ipsum">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
</div>

<div class="prb-lorem-ipsum">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
</div>

<div class="prb-lorem-ipsum">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
</div>

<div class="prb-lorem-ipsum">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
</div>

<div class="prb-lorem-ipsum">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
  lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto delectus, dicta dolorem et eum facere nam natus
  necessitatibus repellendus, sed similique suscipit! Cupiditate ducimus nam natus odit omnis, sunt voluptatem.
  Accusamus blanditiis esse ipsam iusto magni? Ab animi aut cumque ex id, ipsa itaque natus nostrum possimus praesentium
  quae repellat sapiente sed soluta tempore temporibus?
</div>
