@if (!isProduction()) {
  <div [attr.id]="debugOutputId"
       [class.flat]="flat()"
       class="prb-debug-output-container">
    @if (title()) {
      <div class="prb-debug-header">{{ title() }}</div>
    }
    @if (variableName()) {
      <div class="prb-debug-variable-name-container">
        <span class="prb-debug-variable-name-label">Variable:&nbsp;</span>
        <span class="prb-debug-variable-name">{{ variableName() }}</span>
      </div>
    }
    <div class="prb-debug-content">
      @if (isString()) {
        <div class="prb-debug-type">
          &lt;string&gt;
        </div>
        <div class="prb-debug-value">
          {{ this.stringValue() }}
        </div>
      } @else if (isNumber()) {
        <div class="prb-debug-type">
          &lt;number&gt;
        </div>
        <div class="prb-debug-value">
          {{ this.numberValue() }}
        </div>
      } @else if (isBoolean()) {
        <div class="prb-debug-type">
          &lt;boolean&gt;
        </div>
        <div class="prb-debug-value">
          {{ this.booleanValue() }}
        </div>
      } @else if (isJson()) {
        <div class="prb-debug-type">
          &lt;JSON&gt;
        </div>
        <pre>{{ jsonValue() | json }}</pre>
      } @else if (isRegex()) {
        <div class="prb-debug-type">
          &lt;RegExp&gt;
        </div>
        <div class="prb-debug-value">
          {{ this.regexValue() }}
        </div>
      }
    </div>
  </div>
}
