.prb-debug-output-container {
  //position: absolute;
  //top: 100px;
  //right: 500px;
  width: fit-content;
  min-width: 200px;
  line-height: var(--prb-debug-line-height);
  background: var(--prb-debug-background-color);
  border: 1px solid var(--prb-debug-border-color);

  &:not(.flat) {
    border-radius: var(--prb-debug-border-radius);
    box-shadow: var(--prb-debug-box-shadow);
  }

  .prb-debug-header {
    font-size: 1.2em;
    padding: var(--prb-debug-header-padding);
    text-align: center;
    background-color: var(--prb-debug-header-background-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 2px solid var(--prb-debug-border-color);
  }

  .prb-debug-variable-name-container {
    padding: var(--prb-debug-variable-padding);
    border-bottom: 1px solid var(--prb-debug-border-color);
    font-size: 0.6em;
    background-color: var(--prb-debug-variable-background-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    .prb-debug-variable-name-label {
      letter-spacing: unset;
      color: var(--prb-debug-variable-name-label-color);
      font-weight: var(--prb-debug-variable-name-label-font-weight);
    }

    .prb-debug-variable-name {
      font-weight: bold;
    }
  }

  .prb-debug-content {
    padding: var(--prb-debug-content-padding);
    overflow-y: auto;
    letter-spacing: var(--prb-debug-letter-spacing);
    margin: var(--prb-debug-content-margin);

    pre,
    .prb-debug-value {
      font-size: var(--prb-debug-value-font-size);
      color: var(--prb-debug-text-color);
    }

    .prb-debug-type {
      margin: var(--prb-debug-type-margin);
      font-size: var(--prb-debug-type-font-size);
      color: var(--prb-debug-type-color);
    }
  }
}
