<p-button [label]="label()"
          [severity]="'help'"
          [icon]="icon()"
          [iconPos]="iconPos()"
          [badge]="badge()"
          [badgeSeverity]="badgeSeverity()"
          [rounded]="rounded()"
          [raised]="raised()"
          [size]="size()"
          [disabled]="disabled()"
          [pTooltip]="tooltip()"
          [showDelay]="showTipDelay()"
          [tooltipPosition]="showTipPosition()"
          [type]="type()"
          (onClick)="onClick.emit($event)"
          (onFocus)="onFocus.emit($event)"
          (onBlur)="onBlur.emit($event)"/>
