<div class="prb-color-palette-panel">
  <div class="prb-color-palette">
    <div class="prb-color-palette-label">Primary</div>
    <div class="prb-color-palette-items">
      <button
        class="prb-color-palette-item prb-color-palette-emerald"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('emerald')}"
        (click)="setPrimaryPalette('emerald')"
        [pTooltip]="'emerald'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-green"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('green')}"
        (click)="setPrimaryPalette('green')"
        [pTooltip]="'green'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-lime"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('lime')}"
        (click)="setPrimaryPalette('lime')"
        [pTooltip]="'lime'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-red"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('red')}"
        (click)="setPrimaryPalette('red')"
        [pTooltip]="'red'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-brown"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('brown')}"
        (click)="setPrimaryPalette('brown')"
        [pTooltip]="'orange'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-orange"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('orange')}"
        (click)="setPrimaryPalette('orange')"
        [pTooltip]="'orange'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-amber"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('amber')}"
        (click)="setPrimaryPalette('amber')"
        [pTooltip]="'amber'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-yellow"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('yellow')}"
        (click)="setPrimaryPalette('yellow')"
        [pTooltip]="'yellow'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-teal"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('teal')}"
        (click)="setPrimaryPalette('teal')"
        [pTooltip]="'teal'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-cyan"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('cyan')}"
        (click)="setPrimaryPalette('cyan')"
        [pTooltip]="'cyan'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-sky"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('sky')}"
        (click)="setPrimaryPalette('sky')"
        [pTooltip]="'sky'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-blue"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('blue')}"
        (click)="setPrimaryPalette('blue')"
        [pTooltip]="'blue'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-indigo"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('indigo')}"
        (click)="setPrimaryPalette('indigo')"
        [pTooltip]="'indigo'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-violet"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('violet')}"
        (click)="setPrimaryPalette('violet')"
        [pTooltip]="'violet'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-purple"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('purple')}"
        (click)="setPrimaryPalette('purple')"
        [pTooltip]="'purple'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-fuchsia"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('fuchsia')}"
        (click)="setPrimaryPalette('fuchsia')"
        [pTooltip]="'fuchsia'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-pink"
        [ngClass]="{'prb-color-palette-selected': isPrimaryColor('pink')}"
        (click)="setPrimaryPalette('pink')"
        [pTooltip]="'pink'"
        showDelay="1000"
        tooltipPosition="top"></button>
    </div>
  </div>

  <div class="prb-color-palette">
    <div class="prb-color-palette-label">Surface</div>
    <div class="prb-color-palette-items">
      <button
        class="prb-color-palette-item prb-color-palette-slate"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('slate')}"
        (click)="setSurfacePalette('slate')"
        [pTooltip]="'slate'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-gray"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('gray')}"
        (click)="setSurfacePalette('gray')"
        [pTooltip]="'gray'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-zinc"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('zinc')}"
        (click)="setSurfacePalette('zinc')"
        [pTooltip]="'zinc'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-neutral"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('neutral')}"
        (click)="setSurfacePalette('neutral')"
        [pTooltip]="'neutral'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-stone"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('stone')}"
        (click)="setSurfacePalette('stone')"
        [pTooltip]="'stone'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-soho"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('soho')}"
        (click)="setSurfacePalette('soho')"
        [pTooltip]="'soho'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-viva"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('viva')}"
        (click)="setSurfacePalette('viva')"
        [pTooltip]="'viva'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-ocean"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('ocean')}"
        (click)="setSurfacePalette('ocean')"
        [pTooltip]="'ocean'"
        showDelay="1000"
        tooltipPosition="top"></button>
      <button
        class="prb-color-palette-item prb-color-palette-beach"
        [ngClass]="{'prb-surface-color-palette-selected': isSurfaceColor('beach')}"
        (click)="setSurfacePalette('beach')"
        [pTooltip]="'beach'"
        showDelay="1000"
        tooltipPosition="top"></button>
    </div>
  </div>

  <div class="prb-color-palette">
    <div class="prb-color-palette-label">
      Ripple Effect
    </div>
    <p-toggleswitch
      [size]="'small'"
      [ngModel]="isRippleEffect()"
      (onChange)="setRippleEffect($event.checked)"/>
  </div>

  <div class="prb-color-palette">
    <div class="prb-color-palette-label">
      Profile
    </div>
    <p-button
      label="Default"
      [size]="'small'"
      [disabled]="!isProfileChanged()"
      (click)="resetAll()"/>
  </div>
</div>
