<div class="prb-social-media-icons">
  <p-button icon="pi pi-tiktok"
            (onClick)="onClickTikTok()"
            class="btn btn-outline-secondary"
            severity="secondary"
            [size]="this.size()"
            [rounded]="true"/>
  <p-button icon="pi pi-twitch"
            (onClick)="onClickTwitch()"
            class="btn btn-outline-secondary"
            severity="secondary"
            [size]="this.size()"
            [rounded]="true"/>
  <p-button icon="pi pi-twitter"
            (onClick)="onClickTwitter()"
            class="btn btn-outline-secondary"
            severity="secondary"
            [size]="this.size()"
            [rounded]="true"/>
  <p-button icon="pi pi-youtube"
            (onClick)="onClickYoutube()"
            class="btn btn-outline-secondary"
            severity="secondary"
            [size]="this.size()"
            [rounded]="true"/>
</div>
