<div class="ui-datepicker">
  <label for="{{_rfInputIdYear}}">Year</label>
  <p-select class="input"
            inputId="{{_rfInputIdYear}}"
            [options]="years"
            [(ngModel)]="selectedYear"
            (onChange)="onYearChange()"
            [showClear]="true"/>
</div>
<div class="ui-datepicker">
  <label for="{{_rfInputIdMonth}}">Month</label>
  <p-select class="input"
            inputId="{{_rfInputIdMonth}}"
            [options]="months"
            [(ngModel)]="selectedMonth"
            optionLabel="name"
            (onChange)="onMonthChange($event)"
            [showClear]="true"/>
</div>
<div class="ui-datepicker">
  <label for="{{_rfInputIdDay}}">Day</label>
  <p-select class="input"
            inputId="{{_rfInputIdDay}}"
            [options]="days"
            [(ngModel)]="selectedDay"
            [disabled]="!selectedMonth"
            (onChange)="onDayChange($event)"
            [showClear]="true"/>
</div>
