<div class="header-banner">
  <div class="header-text">
    <span class="roadblocks-text">Programmer</span>
    <img src="/assets/images/roadblocks-logo.png"
         alt="Roadblocks Logo"
         class="roadblocks-logo"/>
    <span class="roadblocks-text">Roadblocks</span>
  </div>
  <div class="header-menu">
    <p-megaMenu [model]="menuItems" orientation="horizontal"
                styleClass="mega-menu">
      <ng-template pTemplate="item" let-item>
        @if (item.root) {
          <div>{{ item.label }}</div>
        } @else {
          @if (item.route) {
            <a [routerLink]="item.route" class="gap-2">{{ item.label }}</a>
          } @else {
            <a href="{{ item.url }}" target="{{ item.target }}" class="gap-2">{{ item.label }}</a>
          }
        }
      </ng-template>
    </p-megaMenu>
  </div>
  <div class="header-options">
    @if (!isProduction()) {
      @if (!isDebugMode()) {
        <p-button icon="fa fa-bug"
                  (click)="toggleDebugMode()"
                  class="btn btn-outline-secondary"
                  severity="secondary"
                  size="small"
                  rounded="true"
                  pTooltip="Debug Mode"
                  tooltipPosition="bottom"/>
      } @else {
        <p-button icon="fa fa-check-circle-o"
                  (click)="toggleDebugMode()"
                  class="btn btn-outline-secondary"
                  severity="secondary"
                  size="small"
                  rounded="true"
                  pTooltip="Normal Mode"
                  tooltipPosition="bottom"/>
      }
    }
    @if (!isDarkMode()) {
      <p-button icon="pi pi-sun"
                (click)="toggleDarkMode()"
                class="btn btn-outline-secondary"
                severity="secondary"
                size="small"
                rounded="true"/>
    } @else {
      <p-button icon="pi pi-moon"
                (click)="toggleDarkMode()"
                class="btn btn-outline-secondary"
                severity="secondary"
                size="small"
                rounded="true"/>
    }
  </div>
</div>
