@use "base";
@use "../node_modules/primeicons/primeicons.css";

* {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 11pt;
}

body {
  margin: 0;
}

.p-inputtext {
  padding: 0.3rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

