<div class="prb-options-container prb-options-center">
  <div class="prb-options-label">
    <span class="prb-options-label-text">Toggle switch to change the inline mode:</span>
    <p-toggle-switch [(ngModel)]="inline"></p-toggle-switch>
    @if (inline()) {
      <span class="prb-options-inline-mode">(Inline)</span>
    } @else {
      <span class="prb-options-inline-mode">(Injected)</span>
    }
  </div>
</div>

<div class="prb-steps-container">
  <p-steps [model]="steps"
           [readonly]="false"
           [activeIndex]="activeIndex"
           (activeIndexChange)="onActiveIndexChange($event)"/>
  <div class="prb-step-content">
    <ng-container *ngIf="activeIndex === 0">
      @if (!inline()) {
        <prb-steps-one/>
      } @else {
        <div class="prb-step-component">
          <h3 class="prb-step-label">Step One</h3>
          <p>This is the first step of the demo.</p>
          <p>This is inlined content.</p>
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, sapien vel tincidunt bibendum,
        </div>
      }
    </ng-container>
    <ng-container *ngIf="activeIndex === 1">
      @if (!inline()) {
        <prb-steps-two/>
      } @else {
        <div class="prb-step-component">
          <h3 class="prb-step-label">Step Two</h3>
          <p>This is the second step of the demo.</p>
          <p>This is inlined content.</p>
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, sapien vel tincidunt bibendum,
        </div>
      }
    </ng-container>
    <ng-container *ngIf="activeIndex === 2">
      @if (!inline()) {
        <prb-steps-three/>
      } @else {
        <div class="prb-step-component">
          <h3 class="prb-step-label">Step Three</h3>
          <p>This is the third step of the demo.</p>
          <p>This is inlined content.</p>
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, sapien vel tincidunt bibendum,
        </div>
      }
    </ng-container>
    <ng-container *ngIf="activeIndex === 3">
      @if (!inline()) {
        <prb-steps-four/>
      } @else {
        <div class="prb-step-component">
          <h3 class="prb-step-label">Step Four</h3>
          <p>This is the fourth step of the demo.</p>
          <p>This is inlined content.</p>
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, sapien vel tincidunt bibendum,
        </div>
      }
    </ng-container>
  </div>
  <div class="prb-button-container">
    <div class="prb-prev-button">
      @if (activeIndex !== 0) {
        <p-button (click)="prev()" label="Previous"/>
      }
    </div>
    <div class="prb-next-button">
      @if (activeIndex !== 3) {
        <p-button (click)="next()" label="Next"/>
      }
    </div>
  </div>
</div>

@if (isDebugMode()) {
  <div class="prb-filter-debug-output-container">
    <prb-debug-output-card
      [variableName]="'inline'"
      [flat]="true"
      [booleanValue]="inline()"/>
    <prb-debug-output-card
      [variableName]="'activeIndex'"
      [flat]="true"
      [numberValue]="activeIndex"/>
    <prb-debug-output-card
      [variableName]="'steps'"
      [flat]="true"
      [json]="this.steps"/>
  </div>
}
